{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
  <ul class="grp-object-tools">
    {% block object-tools-items %}
      {% if has_add_permission %}
      {% with cl.opts.verbose_name as name %}
        {% if name != 'author' %}
          <li>
            {% url cl.opts|admin_urlname:'add' as add_url %}
            <form action="{% url "admin:add_from_crossref" %}" method='post'>
              {% csrf_token %}
              <input type="text" name="DOI" style='min-width:250px;' id="id_DOI" placeholder='DOI Quick Add'>
            </form>
          </li>
          {% if name != 'funder' %}
          <li>
            <div style='position:relative;'>
              <form enctype="multipart/form-data" id="submitBibtexFile" action="{% url "admin:import_bibtex" %}" method='post'>
                {% csrf_token %}
                {{ bibtex_import_form.file }}
                <a id='bibtexFileSelector' href class="grp-add-link grp-state-focus">{% trans 'Import bibtex' %}</a>
              </form>
            </div>
          </li>
        {% endif %}
        {% endif %}
      {% endwith %}

      {{ block.super }}
      {% endif %}

    {% endblock %}
  </ul>
{% endblock %}

{% block footer %}
  {{ block.super }}
  <script>const $ = django.jQuery;</script>

  <script>

    $('#id_file').on('change', function() {
      $('#submitBibtexFile').submit()
    })

    $('#bibtexFileSelector').on('click', function (e) {
      e.preventDefault();
      $('#id_file').click()
    })

  </script>




{% endblock footer %}